In [176]:
import pandas as pd

csv_path = r'C:\Users\Somi\Downloads\hypothyroid.csv'
df = pd.read_csv(csv_path)
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source,Class
0,41,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125,t,1.14,t,109,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,2,t,102,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,f,?,t,109,t,0.91,t,120,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61,t,0.87,t,70,SVI,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,negative
3768,68,F,f,f,f,f,f,f,f,f,...,t,2.1,t,124,t,1.08,t,114,SVI,negative
3769,74,F,f,f,f,f,f,f,f,f,...,t,1.8,t,112,t,1.07,t,105,other,negative
3770,72,M,f,f,f,f,f,f,f,f,...,t,2,t,82,t,0.94,t,87,SVI,negative
3771,64,F,f,f,f,f,f,f,f,f,...,t,2.2,t,99,t,1.07,t,92,other,negative

In [170]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Assuming your categorical column is 'gender' in your DataFrame
df['Class'] = label_encoder.fit_transform(df['Class'])
df['sex'] = label_encoder.fit_transform(df['sex'])
df['on_thyroxine'] = label_encoder.fit_transform(df['on_thyroxine'])
df['query_on_thyroxine'] = label_encoder.fit_transform(df['query_on_thyroxine'])
df['on_antithyroid_medication'] = label_encoder.fit_transform(df['on_antithyroid_medication'])
df['sick'] = label_encoder.fit_transform(df['sick'])
df['pregnant'] = label_encoder.fit_transform(df['pregnant'])
df['thyroid_surgery'] = label_encoder.fit_transform(df['thyroid_surgery'])
df['I131_treatment'] = label_encoder.fit_transform(df['I131_treatment'])
df['query_hypothyroid'] = label_encoder.fit_transform(df['query_hypothyroid'])
df['TT4_measured'] = label_encoder.fit_transform(df['TT4_measured'])
df['T4U_measured'] = label_encoder.fit_transform(df['T4U_measured'])
df['FTI_measured'] = label_encoder.fit_transform(df['FTI_measured'])

df['referral_source'] = label_encoder.fit_transform(df['referral_source'])

df['lithium'] = label_encoder.fit_transform(df['lithium'])
df['goitre'] = label_encoder.fit_transform(df['goitre'])
df['tumor'] = label_encoder.fit_transform(df['tumor'])
df['hypopituitary'] = label_encoder.fit_transform(df['hypopituitary'])
df['psych'] = label_encoder.fit_transform(df['psych'])
df['TSH_measured'] = label_encoder.fit_transform(df['TSH_measured'])
df['T3_measured'] = label_encoder.fit_transform(df['T3_measured'])
df['query_hyperthyroid'] = label_encoder.fit_transform(df['query_hyperthyroid'])

df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source,Class
0,41,1,0,0,0,0,0,0,0,0,...,1,2.5,1,125,1,1.14,1,109,1,1
1,23,1,0,0,0,0,0,0,0,0,...,1,2,1,102,0,?,0,?,4,1
2,46,2,0,0,0,0,0,0,0,0,...,0,?,1,109,1,0.91,1,120,4,1
3,70,1,1,0,0,0,0,0,0,0,...,1,1.9,1,175,0,?,0,?,4,1
4,70,1,0,0,0,0,0,0,0,0,...,1,1.2,1,61,1,0.87,1,70,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,1,0,0,0,0,0,0,0,0,...,0,?,0,?,0,?,0,?,4,1
3768,68,1,0,0,0,0,0,0,0,0,...,1,2.1,1,124,1,1.08,1,114,3,1
3769,74,1,0,0,0,0,0,0,0,0,...,1,1.8,1,112,1,1.07,1,105,4,1
3770,72,2,0,0,0,0,0,0,0,0,...,1,2,1,82,1,0.94,1,87,3,1
3771,64,1,0,0,0,0,0,0,0,0,...,1,2.2,1,99,1,1.07,1,92,4,1

knn imputation

In [177]:
from sklearn.impute import KNNImputer
import numpy as np 

df.replace("?", np.nan, inplace=True)
df = df.apply(pd.to_numeric, errors='coerce')

imputer = KNNImputer(n_neighbors=2)
df_imputed = imputer.fit_transform(df)
df = pd.DataFrame(df_imputed, columns=df.columns)
df

ValueError: Shape of passed values is (3772, 6), indices imply (3772, 28)

outliers detection using boxplot

In [172]:
# Outliers detection using boxplot
def remove_outliers_boxplot(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[column] > lower_bound) & (data[column] < upper_bound)]
    return data

# Assuming 'feature_to_remove_outliers' is the column you want to handle outliers for
df = remove_outliers_boxplot(df, 'T3')
df = remove_outliers_boxplot(df, 'T4U')
df = remove_outliers_boxplot(df, 'TT4')
df = remove_outliers_boxplot(df, 'FTI')
df = remove_outliers_boxplot(df, 'TSH')

# Outliers detection and removal using percentile methods
def remove_outliers_percentile(data, column, lower_percentile, upper_percentile):
    lower_bound = data[column].quantile(lower_percentile)
    upper_bound = data[column].quantile(upper_percentile)
    data = data[(data[column] > lower_bound) & (data[column] < upper_bound)]
    return data

# Assuming 'feature_to_remove_outliers' is the column you want to handle outliers for
df = remove_outliers_percentile(df, 'T3', 0.05, 0.95)
df = remove_outliers_percentile(df, 'T4U', 0.05, 0.95)
df = remove_outliers_percentile(df, 'TT4', 0.05, 0.95)
df = remove_outliers_percentile(df, 'TSH', 0.05, 0.95)
df = remove_outliers_percentile(df, 'FTI', 0.05, 0.95)
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source,Class
0,41.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.50,1.0,125.0,1.0,1.14,1.0,109.0,1.0,1.0
2,46.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.80,1.0,109.0,1.0,0.91,1.0,120.0,4.0,1.0
8,66.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.20,1.0,123.0,1.0,0.93,1.0,132.0,3.0,1.0
9,68.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.60,1.0,83.0,1.0,0.89,1.0,93.0,3.0,1.0
10,84.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.20,1.0,115.0,1.0,0.95,1.0,121.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3764,54.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.90,1.0,89.0,1.0,0.85,1.0,104.0,3.0,1.0
3767,30.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.05,0.0,89.5,0.0,1.16,0.0,87.0,4.0,1.0
3768,68.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.10,1.0,124.0,1.0,1.08,1.0,114.0,3.0,1.0
3770,72.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.00,1.0,82.0,1.0,0.94,1.0,87.0,3.0,1.0
3771,64.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.20,1.0,99.0,1.0,1.07,1.0,92.0,4.0,1.0

In [173]:
df.to_csv(r'C:\Users\Somi\Downloads\hypothyroid (1).csv', index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Somi\\Downloads\\hypothyroid (1).csv'

In [ ]:
y = df['Class']
y

0       1.0
2       1.0
8       1.0
9       1.0
10      1.0
       ...
3764    1.0
3767    1.0
3768    1.0
3770    1.0
3771    1.0
Name: Class, Length: 1635, dtype: float64

In [ ]:
x = df.drop('Class',axis=1)
x

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source
0,41.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.30,1.0,2.50,1.0,125.0,1.0,1.14,1.0,109.0,1.0
2,46.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.98,0.0,1.80,1.0,109.0,1.0,0.91,1.0,120.0,4.0
8,66.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.60,1.0,2.20,1.0,123.0,1.0,0.93,1.0,132.0,3.0
9,68.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.40,1.0,1.60,1.0,83.0,1.0,0.89,1.0,93.0,3.0
10,84.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.10,1.0,2.20,1.0,115.0,1.0,0.95,1.0,121.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3764,54.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.20,1.0,1.90,1.0,89.0,1.0,0.85,1.0,104.0,3.0
3767,30.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.45,0.0,2.05,0.0,89.5,0.0,1.16,0.0,87.0,4.0
3768,68.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.00,1.0,2.10,1.0,124.0,1.0,1.08,1.0,114.0,3.0
3770,72.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.70,1.0,2.00,1.0,82.0,1.0,0.94,1.0,87.0,3.0
3771,64.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.00,1.0,2.20,1.0,99.0,1.0,1.07,1.0,92.0,4.0

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=100)

In [ ]:
x_train

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source
2631,61.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.10,1.0,1.30,1.0,92.0,1.0,0.890,1.0,103.0,3.0
3239,27.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.10,1.0,1.60,1.0,86.0,1.0,1.040,1.0,83.0,3.0
3025,33.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.80,1.0,2.00,1.0,139.0,1.0,1.020,1.0,137.0,1.0
2007,29.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.50,0.0,1.65,0.0,91.0,0.0,0.995,0.0,90.0,4.0
2533,32.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.00,1.0,1.70,1.0,92.0,1.0,1.010,1.0,91.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,34.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.25,1.0,2.30,1.0,103.0,1.0,1.050,1.0,98.0,4.0
823,73.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.84,1.0,2.00,1.0,101.0,1.0,1.040,1.0,97.0,2.0
187,55.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.20,1.0,2.40,1.0,95.0,1.0,1.050,1.0,90.0,3.0
1844,40.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.70,1.0,1.80,1.0,96.0,1.0,0.940,1.0,101.0,4.0
3558,56.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.60,1.0,1.90,1.0,97.0,1.0,0.990,1.0,99.0,4.0

In [ ]:
x_test

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TSH,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,referral_source
1337,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.20,1.0,2.60,1.0,121.0,1.0,0.970,1.0,125.0,1.0
1444,77.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.40,1.0,1.70,1.0,77.0,1.0,0.870,1.0,89.0,3.0
2787,58.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.10,1.0,1.60,0.0,82.5,0.0,0.815,0.0,90.5,4.0
596,44.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.80,1.0,1.90,1.0,118.0,1.0,1.070,1.0,110.0,1.0
329,44.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.25,0.0,1.50,1.0,106.0,1.0,1.020,1.0,105.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,61.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.80,1.0,1.90,1.0,102.0,1.0,1.060,1.0,97.0,2.0
165,27.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.50,1.0,1.30,1.0,108.0,1.0,0.790,1.0,137.0,3.0
2343,54.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.77,0.0,2.75,0.0,115.0,0.0,1.090,0.0,95.5,4.0
2672,39.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.20,0.0,2.20,0.0,121.5,0.0,1.035,0.0,101.0,4.0
1378,57.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.00,1.0,2.10,1.0,102.0,1.0,0.970,1.0,105.0,3.0

random forest

In [ ]:
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

# # Assuming X contains features and y contains the target variable
# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# # Create a Random Forest classifier
# rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# # Train the model on the training set
# rf_classifier.fit(x_train, y_train)

# # Make predictions on the testing set
# y_pred = rf_classifier.predict(x_test)

# # Evaluate the model
# accuracy = accuracy_score(y_test, y_pred)
# precision = precision_score(y_test, y_pred)
# recall = recall_score(y_test, y_pred)
# f1 = f1_score(y_test, y_pred)
# conf_matrix = confusion_matrix(y_test, y_pred)
# classification_rep = classification_report(y_test, y_pred)

# # Print the results
# print(f"Accuracy: {accuracy:.4f}")
# print(f"Precision: {precision:.4f}")
# print(f"Recall: {recall:.4f}")
# print(f"F1 Score: {f1:.4f}")
# print("\nConfusion Matrix:")
# print(conf_matrix)
# print("\nClassification Report:")
# print(classification_rep)

Accuracy: 1.0000
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000

Confusion Matrix:
[[327]]

Classification Report:
              precision    recall  f1-score   support

         1.0       1.00      1.00      1.00       327

    accuracy                           1.00       327
   macro avg       1.00      1.00      1.00       327
weighted avg       1.00      1.00      1.00       327

xgboost

In [ ]:
import xgboost as xgb
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

# Check the number of unique classes in y
num_classes = len(y.unique())
print("Number of unique classes in y:", num_classes)

# Create an XGBoost classifier for multi-class classification
xgb_classifier = xgb.XGBClassifier(
    objective='multi:softmax',  # Multi-class classification
    num_class=num_classes,      # Number of unique classes in y
    n_estimators=100,           # Number of boosting rounds
    random_state=42
)

# Train the model on the training set
xgb_classifier.fit(x_train, y_train)

# Make predictions on the testing set
y_pred = xgb_classifier.predict(x_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print the results
print(f"Accuracy: {accuracy:.4f}")
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(classification_rep)

Number of unique classes in y: 1

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0], got [1.]